img {
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  width: 150px;
  height: 150px;
  background-color: #e8a323;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.recipe-list {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    text-decoration: underline;
    font-family: Palatino;
}

ul {
    list-style: none;
}

body {
    background-color: #bf872c;
}

li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    line-height: 18px;
}